.A8D9B{
     border: 3px solid #7A8D9B;
}
.E3D4D0{
    border: 3px solid #E3D4D0;
}
.A6A9C8{
    border: 3px solid #A6A9C8;
}
.DABEB6{
    border: 3px solid #DABEB6;
}
.d46a92{
    border: 3px solid #b99ea8e0;
}
.a5297ac{
    border: 3px solid #5297ac;
}
.a6c6c1{
    border: 3px solid #a6c6c1;
}
.debfb5{
    border: 3px solid #debfb5;
}
.baa6a5{
    border: 3px solid #baa6a5;
}
.BFB9CF{
    border: 3px solid #BFB9CF;
}
.c715f65 {
    border: 3px solid #715f65;
}
.f5a3b7{
    border: 3px solid #f5a3b7;
}